body{
  padding-top: 70px;
}


.carousel-inner .item {
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ad1 {
    background: url(img/dog1.jpg) no-repeat center center fixed;
}
.ad2 {
    background: url(img/dog2.jpg) no-repeat center center fixed;
}
.ad3 {
    background: url(img/dog3.jpg) no-repeat center center fixed;
}

.space{
  margin-bottom: 50px;
}

.footsep{
  margin: 0px 10px 10px 10px;
}

.gcolour{
  color: #5cb85c;
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e7e7e7;
    color: #777;
    text-align: center;
}
